
name: CI

on: [push]

jobs:
  build-test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - uses: php-actions/composer@v5

      - name: Setup .NET 7 preview
        uses: actions/setup-dotnet@v1
        with:
          dotnet-version: '7.0.x'

      - name: Generate PHP classes
        run: |
          mkdir src/Models
          mkdir src/Models/DTO
          dotnet run --project Generator src

      - name: PHPUnit Tests
        uses: php-actions/phpunit@v2
        with:
          bootstrap: vendor/autoload.php
          configuration: tests/phpunit.xml
          args: --coverage-text
        env:
          DATASET_ID: ${{secrets.INTEGRATIONTESTS_DATASET_ID}}
          API_KEY: ${{secrets.INTEGRATIONTESTS_API_KEY}}
