name: CI

on:
    push:
        branches:
            - main
    pull_request:

jobs:
  php:
    name: "PHPUnit with PHP ${{ matrix.php-version }}"
    runs-on: ubuntu-latest
    strategy:
      matrix:
        php-version: ["8.0", "8.1"]

    steps:
    - name: Checkout
      uses: actions/checkout@v3

    - name: Validate composer.json and composer.lock
      run: composer validate --strict

    - name: Install dependencies
      run: composer install --prefer-dist --no-progress

    - name: Run test suite
      uses: php-actions/phpunit@v3
