name: Publish to Packagist

on:
  release:
    types: [published]

jobs:
  build-test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6

      - uses: php-actions/composer@v6

      - name: Setup .NET 10
        uses: actions/setup-dotnet@v5
        with:
          dotnet-version: '10.0.x'

      - name: Generate PHP classes
        run: ./generate.sh

      - name: PHPUnit Tests
        uses: php-actions/phpunit@v3
        with:
          bootstrap: vendor/autoload.php
          configuration: tests/phpunit.xml
          test_suffix: .php
          testsuite: Unit
          version: 9.5.28
        env:
          DATASET_ID: ${{secrets.INTEGRATIONTESTS_DATASET_ID}}
          API_KEY: ${{secrets.INTEGRATIONTESTS_API_KEY}}

      - name: Publish to Packagist
        run: composer publish relewise ${{ secrets.packagist_token }}

      - name: Ingest new data in MCP server
        run: curl -X PUT -H "x-api-key:${{ secrets.MCP_INGESTION_API_KEY }}" -H "content-length:0" https://mcp.relewise.com/IngestDataSource/Php  
